/* navbar Code */
html{
    font-size: 10px;
}
* {
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 5rem;
}
#header {
    background: rgb(255, 255, 255);
}

#nav {
    margin: 2rem;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}

#links-nav #links-nav-ul {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 4rem;
    text-decoration: none;
    list-style: none;

}

a {
    text-decoration: none;
    list-style: none;
    color: black;

}

button {
    height: 2rem;
    width: 5rem;
    border: 1px solid #1DA1F2;
    border-radius: 10px;
    background-color: rgb(253, 253, 253);
}

/* end header navebar  */

/* hero section  */


.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}



#div-hero-section {
    background-image: url(../image/Banner\ Image.png);
    position: relative;
    height: 50rem;
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    -webkit-border-radius: 2rem;
}

#header-text {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-bottom: 5rem;
    margin-left: 7rem;
    gap: 20px;
}
.button-select{
    margin-left: 5rem;
}

#h1-home {
    font-size: 1.5rem;
}

/* hero section  */


 /* .hero-section */
 .hero-section-buttons {
    border-color: aliceblue;
    width: 6vw;
    height: 6vh;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

.images {
    position: relative;
}

#buy-info-id {
    background: rgb(251, 250, 250);
    opacity: 0.8;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 60vw;
    border-radius: 0rem 1rem 1rem 1rem;
    margin-left: 50px;

}

.section-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5rem;
    height: 15vh;
    margin-left: 2.4rem;

}

.location-part {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 1rem;

}

.selecters-label {
    font-size: 1.5em;
}

.location-select {
    border: none;
    height: 10vh;
    width: 13vw;
    background: none;
    color: rgb(121, 121, 121);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-right: 0.4px solid gray;
}

/* contries section */

.countries-div {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    padding-top: 5rem;
}

.contry-images {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.text-image {
    position: relative;
    bottom: 36rem;
    left: 2rem;
    font-size: x-large;
}

.button-select-div {
    padding-left: 5rem;
}


/* contries section */

/* start Recently Added section */
.cart-recently-add {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* .recently-add-div {} */



.recently-add-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.div-cart-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 38vh;
    width: 38vw;
    border: 0.1em solid #DCDCEB;
    border-radius: 3rem;
    gap: 2rem;

}
.cart:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.price-button{
    height: 4rem;
    width: 9rem;
}

/* end Recently Added section */


/* blog */

.blog{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    font-size: large;
}



/* end blog */


/* footer */
.footer-section{
    margin-top: 11rem;
    height: 27rem;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: flex-start;
    font-size: medium;
}
.leftfooterSided{

    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: start;
    gap: 1rem;
    padding: 1rem;

}
.rightfooterSided{

display: flex;
flex-direction: column;
gap: 2rem;
}

.Social-Media{
   font-size: larger;
}
li{
    list-style: none;
    padding-top: 2rem;
}
.footerform ,input{
    height: 3rem;
    width: 20rem;
    border: 1px solid gray;
    border-radius: 10px;
}
p{
color: rgb(141, 141, 141);
}
   
/* end footer */